
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative; 
    bottom: 0;
    left: 0;
    width: 100%;
}
  
footer ul {
    list-style-type: none;
    padding: 0;
}
  
footer ul li {
    display: inline;
    margin: 0 10px;
}
  
footer ul li a {
    color: white;
    text-decoration: none;
}
  
footer ul li a:hover {
    text-decoration: underline;
}