.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #333; 
  color: #fff; 
}     
                                              
.links {
  margin-right: 50px;
  display: flex;
  align-items: center; 
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 18px;
  font-size: 18px;
  transition: color 0.3s ease;
}
.links a:hover {
  color: #bbbaba;
}

.links svg {
  color: #fff;
  transition: color 0.3s ease;
}

.links svg:hover {
  color: #bbbaba;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.shop-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.user-menu {
  position: relative;
}

.username {
  cursor: pointer;
  margin: 0 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #444;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dropdown-menu a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #555;
}

.dropdown-menu button {
  width: 100%;
  padding: 5px;
  background-color: #f44336;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #e53935;
}